<p>Lista de estudiantes</p>
<div>
    <app-modal-new-estudiante (estudianteActualizado)="getEstudiantes()"></app-modal-new-estudiante>
</div>

<!-- Tabla de estudiantes -->
<table class="table table-hover shadow round-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Fecha Nacimiento</th>
            <th>Curso</th>
            <th>Info</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let estudiante of estudiantes">
            <td>{{estudiante.id}}</td>
            <td>{{estudiante.nombre}}</td>
            <td>{{estudiante.fechaNac}}</td>
            <td>
                <app-curso-popover [curso]="estudiante.curso!"></app-curso-popover>
            </td>
            <td>
                <button type="button" class="btn btn-outline rounded-5" (click)="openModal(estudiante)"
                    data-bs-toggle="modal" data-bs-target="#editEstudianteModal">
                    <i class="bi-info-circle-fill"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>

<app-modal-estudiante [estudiante]="selectedEstudiante"
    (estudianteActualizado)="getEstudiantes()"></app-modal-estudiante>