<div>
    <app-modal-new-curso></app-modal-new-curso>
</div>

<!-- Tabla de cursos -->
<table class="table table-hover shadow mt-3 round-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tema</th>
            <th>Fecha de Inicio</th>
            <th>Fecha de Fin</th>
            <th>Docente</th>
            <th>Precio</th>
            <th>Info</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let curso of cursos">
            <td>{{ curso.id }}</td>
            <td>{{ curso.tema.nombre }}</td>
            <td>{{ curso.fechaInicio | date }}</td>
            <td>{{ curso.fechaFin | date }}</td>
            <td>{{ curso.docente.nombre }}</td>
            <td>${{ curso.precio}}</td>
            <td>
                <app-modal-curso [id]="curso.id"></app-modal-curso>
            </td>
        </tr>
    </tbody>
</table>