<p>Lista de cursos</p>

<div>
    <app-modal-new-curso (cursoActualizado)="getCursos()"></app-modal-new-curso>
</div>

<!-- Tabla de cursos -->
<table class="table table-hover shadow round-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tema</th>
            <th>Fecha de Inicio</th>
            <th>Fecha de Fin</th>
            <th>Docente</th>
            <th>Precio</th>
            <th>Info</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let curso of cursos">
            <td>{{ curso.id }}</td>
            <td>{{ curso.tema.nombre }}</td>
            <td>{{ curso.fechaInicio | date }}</td>
            <td>{{ curso.fechaFin | date }}</td>
            <td>{{ curso.docente.nombre }}</td>
            <td>${{ curso.precio}}</td>
            <td>
                <button type="button" class="btn btn-outline-info rounded-5" (click)="openModal(curso)" data-bs-toggle="modal"
                    data-bs-target="#editCursoModal">
                    <i class="bi bi-info-circle"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>

<app-modal-curso [curso]="selectedCurso" (cursoActualizado)="getCursos()" ></app-modal-curso>