<div class="container mt-5">
    <h2 class="text-center mb-4">Panel de Administración</h2>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-3 mb-4">
            <div class="card shadow card-custom">
                <div class="card-body text-center">
                    <img src="assets/images/estudiante.png" class="card-img mb-3" alt="Imagen de Estudiantes">
                    <h5 class="card-title">Estudiantes</h5>
                    <p class="card-text">Administra los datos de los estudiantes.</p>
                    <a routerLink="/alumnos" class="boton w-100 rounded-5">Ver Estudiantes</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
            <div class="card shadow card-custom">
                <div class="card-body text-center">
                    <img src="assets/images/docentes.png" class="card-img mb-3" alt="Imagen de Docentes">
                    <h5 class="card-title">Docentes</h5>
                    <p class="card-text">Gestiona la información de los docentes.</p>
                    <a routerLink="/docentes" class="boton w-100 rounded-5">Ver Docentes</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
            <div class="card shadow card-custom">
                <div class="card-body text-center">
                    <img src="assets/images/curso.png" class="card-img mb-3" alt="Imagen de Cursos">
                    <h5 class="card-title">Cursos</h5>
                    <p class="card-text">Crea y administra los cursos disponibles.</p>
                    <a routerLink="/cursos" class="boton w-100 rounded-5">Ver Cursos</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
            <div class="card shadow card-custom">
                <div class="card-body text-center">
                    <img src="assets/images/tema.png" class="card-img mb-3" alt="Imagen de Temas">
                    <h5 class="card-title">Temas</h5>
                    <p class="card-text">Organiza los temas de estudio de cada curso.</p>
                    <a routerLink="/temas" class="boton w-100 rounded-5">Ver Temas</a>
                </div>
            </div>
        </div>
    </div>
</div>