<div class="container mt-5">
    <h2 class="text-center mb-4">Panel de Administración</h2>
    <div class="row justify-content-center">
        <div class="col-md-6 mb-4">
            <div class="card shadow">
                <div class="card-body text-center">
                    <h5 class="card-title">Estudiantes</h5>
                    <p class="card-text">Administra los datos de los estudiantes.</p>
                    <a routerLink="/alumnos" class="boton w-100 rounded-5">Ver Estudiantes</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card shadow">
                <div class="card-body text-center">
                    <h5 class="card-title">Docentes</h5>
                    <p class="card-text">Gestiona la información de los docentes.</p>
                    <a routerLink="/docentes" class="boton w-100 rounded-5">Ver Docentes</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card shadow">
                <div class="card-body text-center">
                    <h5 class="card-title">Cursos</h5>
                    <p class="card-text">Crea y administra los cursos disponibles.</p>
                    <a routerLink="/cursos" class="boton w-100 rounded-5">Ver Cursos</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card shadow">
                <div class="card-body text-center">
                    <h5 class="card-title">Temas</h5>
                    <p class="card-text">Organiza los temas de estudio de cada curso.</p>
                    <a routerLink="/temas" class="boton w-100 rounded-5">Ver Temas</a>
                </div>
            </div>
        </div>

    </div>
</div>