<button type="button" class="btn btn-primary w-100 rounded-5 shadow" data-bs-toggle="modal"
    data-bs-target="#newCursoModal">
    <i class="bi-plus-square"></i> Agregar Curso
</button>

<div class="modal fade" id="newCursoModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Crear un nuevo curso</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form class="m-5">
                    <div class="form-floating mb-3">
                        <input  type="date" class="form-control" id="fechaInicio"
                            [(ngModel)]="fechaInicio" name="fechaInicio">
                        <label for="fechaInicio">Fecha de Inicio</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input  type="date" class="form-control" id="fechaFin"
                            [(ngModel)]="fechaFin" name="fechaFin">
                        <label for="fechaFin">Fecha de Fin</label>
                    </div>
                    <div class="form-floating mb-3">
                        <select  class="form-select" id="docente" [(ngModel)]="docente"
                            name="docente">
                            <option *ngFor="let d of docentes" [ngValue]="d">{{ d.nombre }}</option>
                        </select>
                        <label for="docente">Docente</label>
                    </div>
                    <div class="form-floating mb-3">
                        <select  class="form-select" id="temaDropdown" [(ngModel)]="tema"
                            name="temaDropdown">
                            <option *ngFor="let t of temas" [ngValue]="t">{{ t.nombre }}</option>
                        </select>
                        <label for="temaDropdown">Tema</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input  type="number" class="form-control" id="precio"
                            [(ngModel)]="precio" name="precio">
                        <label for="precio">Precio</label>
                    </div>
                    <div  class="d-flex flex-column justify-content-center">
                        <button data-bs-dismiss="modal" (click)="postCurso()" type="button" class="btn btn-success w-100 mt-3"><i
                                class="bi-check2"></i>
                            Agregar Curso</button>
                        <a data-bs-dismiss="modal" class="text-decoration-underline w-100 mt-3 text-danger text-center cursor-pointer"
                            >
                            Cancelar
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>