<div class="modal fade" id="editCursoModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div *ngIf="curso" class="modal-body">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Curso ID: {{ curso.id }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form class="m-5">
                    <div class="form-floating mb-3">
                        <input [disabled]="!flagEditar" type="date" class="form-control" id="fechaInicio"
                            [(ngModel)]="curso.fechaInicio" name="fechaInicio">
                        <label for="fechaInicio">Fecha de Inicio</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input [disabled]="!flagEditar" type="date" class="form-control" id="fechaFin"
                            [(ngModel)]="curso.fechaFin" name="fechaFin">
                        <label for="fechaFin">Fecha de Fin</label>
                    </div>
                    <div class="form-floating mb-3">
                        <select [disabled]="!flagEditar" class="form-select" id="docente" [(ngModel)]="curso.docente"
                            name="docente" [compareWith]="compareEntidad">
                            <option *ngFor="let d of docentes" [ngValue]="d">{{ d.nombre }}</option>
                        </select>
                        <label for="docente">Docente</label>
                    </div>
                    <div class="form-floating mb-3">
                        <select [disabled]="!flagEditar" class="form-select" id="temaDropdown" [(ngModel)]="curso.tema"
                            name="temaDropdown" [compareWith]="compareEntidad">
                            <option *ngFor="let t of temas" [ngValue]="t">{{ t.nombre }}</option>
                        </select>
                        <label for="temaDropdown">Tema</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input [disabled]="!flagEditar" type="number" class="form-control" id="precio"
                            [(ngModel)]="curso.precio" name="precio">
                        <label for="precio">Precio</label>
                    </div>
                    <div *ngIf="!flagEditar"  class="d-flex flex-column justify-content-center">
                        <button type="button" class="btn btn-success w-100 mt-3" (click)="toggleEdit()">Editar
                            curso</button>
                        <a class="text-decoration-underline w-100 mt-3 text-danger text-center cursor-pointer" (click)="eliminarCurso()">
                            <i class="bi bi-trash me-2"></i> Eliminar curso
                        </a>
                    </div>
                    <div *ngIf="flagEditar" class="d-flex flex-column justify-content-center">
                        <button data-bs-dismiss="modal" type="button" class="btn btn-success w-100 mt-3" (click)="putCurso()"><i
                                class="bi-check2"></i> Confirmar edición</button>
                        <a (click)="cerrarModal()" class="text-decoration-underline w-100 mt-3 text-danger text-center cursor-pointer">
                            Cancelar edición
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>