<div class="modal fade" id="editTemaModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div *ngIf="tema" class="modal-body">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tema ID: {{ tema.id }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form class="m-5">
                    <div class="form-floating mb-3">
                        <input [disabled]="!flagEditar" type="text" class="form-control" id="nombre"
                            [(ngModel)]="tema.nombre" name="nombre">
                        <label for="nombre">Nombre</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input [disabled]="!flagEditar" type="text" class="form-control" id="descripcion"
                            [(ngModel)]="tema.descripcion" name="descripcion">
                        <label for="descripcion">Descripción</label>
                    </div>
                    <div *ngIf="!flagEditar" class="d-flex flex-column justify-content-center">
                        <button type="button" class="btn btn-success w-100 mt-3" (click)="toggleEdit()">Editar
                            tema</button>
                        <a class="text-decoration-underline w-100 mt-3 text-danger text-center temar-pointer"
                            (click)="eliminarTema()">
                            <i class="bi bi-trash me-2"></i> Eliminar tema
                        </a>
                    </div>
                    <div data-bs-dismiss="modal" *ngIf="flagEditar" class="d-flex flex-column justify-content-center">
                        <button type="button" class="btn btn-success w-100 mt-3" (click)="putTema()"><i
                                class="bi-check2"></i> Confirmar edición</button>
                        <a data-bs-dismiss="modal"
                            class="text-decoration-underline w-100 mt-3 text-danger text-center temar-pointer">
                            Cancelar edición
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>