<button type="button" class="boton fondo w-100 rounded-5 shadow" data-bs-toggle="modal" data-bs-target="#newTemaModal">
    <i class="bi-plus-square"></i> Agregar Tema
</button>

<div class="modal fade" id="newTemaModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Crear un nuevo tema</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form class="m-5">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="nombre" [(ngModel)]="nombre" name="nombre">
                        <label for="nombre">Nombre</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="descripcion" [(ngModel)]="descripcion"
                            name="descripcion">
                        <label for="descripcion">Descripción</label>
                    </div>
                    <div class="d-flex flex-column justify-content-center">
                        <button data-bs-dismiss="modal" (click)="postTema()" type="button"
                            class="btn btn-success w-100 mt-3"><i class="bi-check2"></i>
                            Agregar Tema</button>
                        <a data-bs-dismiss="modal"
                            class="text-decoration-underline w-100 mt-3 text-danger text-center cursor-pointer">
                            Cancelar
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>